resume = true

report {
    overwrite = true  // Add this line to enable report overwrite
}

profiles {

    setonix {

        process { 
            cache = 'lenient'
            stageInMode = 'symlink'
        }
    
    singularity { 
        enabled = true
        cacheDir = "$MYSOFTWARE/.nextflow_singularity"
        envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
}


process {

   withName: 'meryl'          { container =  'quay.io/biocontainers/meryl:1.4--h4ac6f70_1' }
   withName: 'genomescope'    { container =  'docker://abner12/genomescope:2.0' }
   withName: 'megahit'        { container =  'quay.io/biocontainers/megahit:1.2.9--h2e03b76_1' }

}



    
params.slurm_account = 'pawsey0812'

process {
    executor = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
    queue = 'work'

    withName: 'meryl' {
        cpus          = { 50 }
        memory        = { 100.GB }
        time          = { 12.h }
        errorStrategy = { task.exitStatus in [143,137,104,134,139,247] ? 'retry' : 'finish' }
    }

    withName: 'genomescope' {
        cpus          = { 1 }
        memory        = { 1.GB }
        time          = { 20.m }
        errorStrategy = { task.exitStatus in [143,137,104,134,139,247] ? 'retry' : 'finish' }
    }
    withName: 'megahit' {
        cpus          = { 50 }
        memory        = { 100.GB }
        time          = { 24.h }
        errorStrategy = { task.exitStatus in [143,137,104,134,139,247] ? 'retry' : 'finish' }
    }

}

   executor { 
          $slurm {
	    queueSize = 1000
            pollInterval = '1 min'
            queueStatInterval = '5min'
   }
  }
}
}
